
#codigoderastreo{
    background-color: #CECECE;
    width: 639px;
    border-radius: 40px;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    grid-row: 1/2;
}

#boton{
    width: 297px;
    border-radius: 50px;
    
}

